#session {
  height: 100%;
  display: grid;
  /* filler welcome connection addSong buttons */
  grid-template-rows: 1vh 2fr 2fr 1fr 4fr 5vh;
}

#session .buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

#session .connection {
  width: 50%;
}

#youtube-icon {
  transform: scale(1.15);
  margin: 5px;
}

#spotify-icon {
  width: 20px;
}

#mp3-icon {
  transform: scale(1.2);
  margin: 6px;
}

.spotify {
  background-color: #1DB954;
}

.youtube {
  background-color: #FF0000;
}

.platform-button {
  width: 93%;
  height: 90%;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}